:host{
    
    .box {
        background-color: #eee;
        color: white;
        text-align: center;
        width: 80%;
        height: 70%;
        position: absolute;
        z-index: 1;
        left: 10%;
        top: 10%;
  
        border: 3px gray dashed;
        color: gray;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  
        mat-icon {
          float: right;
          background-color: #fff;
          margin: -15px;
          font-size: 35px;
          height: 35px;
          width: 35px;
          border-radius: 50px;
          cursor: pointer;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          flex-direction: column;
          span {
            font-size: 12px;
            font-style: italic;
          }
        }
      }
      .box-drag-over {
        background-color: grey;
      }
}