<div class="container">
  <!--row 1-->
  <div class="flex">
    <div class="txt-container right">
      <span class="mat-h1">{{ "page.intro.great-design" | translate }}</span>
      <img class="splitter" src="assets/images/line.png" />
      <span class="mat-body sub-text">
        {{ "page.intro.introApp" | translate }}
      </span>
    </div>

    <img src="assets/app-images/home.PNG" />
  </div>
  <!--row 1-->

  <!--row 2-->
  <div class="flex">
    <img src="assets/app-images/multiple_file.PNG" />
    <div class="txt-container left ">
      <span class="mat-h1">{{ "page.intro.handy-to-Edit" | translate }}</span>
      <img class="splitter" src="assets/images/line.png" />

      <span class="mat-body sub-text"> {{ "page.intro.easy-to-use-text1" | translate }} <a (click)="openURL()">ag-Grid</a> {{ "page.intro.easy-to-use-text2" | translate }} </span>
    </div>
  </div>

  <!--row 1-->

  <!--row 3-->
  <div class="flex">
    <div class="txt-container right">
      <span class="mat-h1"> {{ "page.intro.easy-to-upload" | translate }}</span>
      <img class="splitter" src="assets/images/line.png" />
      <span class="mat-body sub-text">
        {{ "page.intro.easy-to-upload-text" | translate }}
      </span>
    </div>

    <img src="assets/app-images/upload.PNG" />
  </div>
</div>
