<div class="upload-files" id="drag-file">
  <!-- <mat-icon aria-label="Example icon-button with a heart icon" (click)="cancelClick()">cancel</mat-icon> -->
  <button mat-stroked-button (click)="buttonClickedHandler(eListType.OPEN_FOLDER)">{{ "page.upload.upload-files" | translate | uppercase }}</button>
  <span class="mat-title">{{ "page.upload.drag-text" | translate }}</span>
  <img src="assets/images/upload.svg" />
  <span class="mat-small">( {{ "page.upload.limit-text" | translate }} )</span>
  <div class="csv-progress-bar" *ngIf="files.length > 0">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
