
:host {
  .upload-files {
    background-color: #bdc3c724;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    img {
      width: 250px;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    }

    button {
      margin: 10px 0 20px 0;
      color: #fff;
      border-color: #b496bc;
      border-radius: 50px;
      padding: 10px;
      width: 150px;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    }
    span {
      color: #b496bc;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
      margin: 0;
    }
  }
}
