:host {
  display: block;
  height: 100%;

  .container {
    height: 100%;
    background-color: #fafafa;
  }
  .app-container {
    height: 80%;
    padding-top: 60px;

  }
  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }


  

}
