<!-- <div class="container">
  <app-header></app-header>


  <div class="app-container">


   
    <div class="upper">
      <div>
        <img class="imgborder s2" src="../../../assets/images/Logo.png">
        <mat-divider [vertical]="true" class="vertical-line"></mat-divider>
        <img src="../../../assets/images/ah_logo1.png">
      </div>
      <h1>CSV Editor</h1>
    </div>
    <div class="lower">
      <div class="grid-text">
      

      </div>

      <div class="grid-text">
       

      </div>
    </div>


    -->
<app-drop-area
  *ngIf="showDragNDropArea"
  (cancelClicked)="cancelClickedHandler($event)"
></app-drop-area>

<div class="container">
  <app-header (goToHomeClicked)="loadHomePage()"></app-header>

  <div class="app-container">
    <app-csv
      (cancelClicked)="cancelClickedHandler($event)"
      (gridEdited)="gridEdited($event)"
    ></app-csv>
    <app-dashboard
      (leftListItemClicked)="leftListItemClickedHandler($event)"
      *ngIf="!showCsvEditor"
    ></app-dashboard>

    <!--<app-footer></app-footer>-->
  </div>
</div>
