:host {

  .add-padding{
    margin: 20px;
  }
  display: block;
  margin: 0px 20px 0 20px;

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
 
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  color: rgba(0, 0, 0, 0.87);

  // /deep/.mat-tab-label{
  //   min-width: 0!important;
  //   padding: 3px!important;
  //   margin: 3px!important;
  //   max-width:200px !important;
  //  }
  mat-tab-group {
    padding: 0 16px 0px 16px;
       
  }
  /deep/ .mat-tab-body-content{
            overflow: hidden !important;
          }
          .full-width {
            padding-top: 10px;
            width: 70%;
          }
            
  .table-container {
    overflow: auto;
    height: 600px;

    table {
     justify-content: space-evenly;
     width: 100%;

      .possition {
        min-width: 70px !important;
        max-width: 70px !important;
      
      }
      .example-full-width {
        width: 150px;
        border: 1px solid #bbb4af;
        border-radius: 4px;
        box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.06);
        height: 32px;
        padding: 0 12px;
      }
      .mat-header-cell,
      .mat-cell {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
        min-width: 200px;
      }
    }
  }
  /* 
 .divTable {
    display: table;
    width: 100%;

    .divTableRow {
      display: table-row;
    }
    .divTableHeading {
      background-color: #eee;
      display: table-header-group;
    }
    .divTableCell,
    .divTableHead {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);

      display: table-cell;
      padding: 3px 10px;
      min-width: 100px;
    }
    .divTableHeading {
      background-color: #eee;
      display: table-header-group;
      font-weight: bold;
    }
    .divTableFoot {
      background-color: #eee;
      display: table-footer-group;
      font-weight: bold;
    }
    .divTableBody {
      display: table-row-group;
    }
  }*/
}
