:host {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;

    margin: 0;
    padding: 0 40px 0 40px;
    width: 100%;

    li {
      margin-top: 20px;
      height: 50px;
      display: flex;
      align-items: center;
      color: #766f89;
      flex-direction: column;
      font-weight: bold;
      padding-bottom: 10px;
      align-items: flex-end;
      div {
        margin-top: 15px;
        height: 2px;
        width: 100%;
        display: inline-block;
        background: url("assets/images/line_normal.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    & :hover {
      color: #fff;
      cursor: pointer;

      div {
        background-size: cover;
        background-repeat: no-repeat;
        background: url("assets/images/line.png");
      }
    }
    & .active {
      color: #fff;
      cursor: pointer;

      div {
        background-size: cover;
        background-repeat: no-repeat;
        background: url("assets/images/line.png");
      }
    }
  }
}
