:host {
  .file-list {
    display: flex;
    padding: 0px 0 10px 0;
    img {
      height: 30px;
      padding-right: 10px;
    }
    div {
      .link {
        color: #4d90fe;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
      }
      section {
        color: gray;
        font-size: 0.7rem;
        font-style: italic;
      }
    }
  }
}
