:host{
    .link {
        color: #4d90fe;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        img {
          height: 30px;
          padding-right: 10px;
        }
      }
}